// //////////// Lyrics Plus - Custom App ////////////

// bottom settings icon
.lyrics-config-button {
    background-color: var(--spice-custom-main-secondary);
    border-radius: 10px;
    color: var(--spice-text);
}

// lyrics plus gradient at end
.lyrics-lyricsContainer-Provider {
    background: none;
}
