// right sidebar containers
.main-nowPlayingView-section {
    background-color: var(--spice-custom-main-soft-secondary) !important;
}

//////////////////////////////////////// Lyrics ////////////////////////////////////////

// right sidebar lyrics
.main-nowPlayingView-sectionHeaderSpacing.main-nowPlayingView-lyricsGradient {
    background-color: var(--spice-custom-main-soft-secondary) !important;
    --lyrics-color-active: var(--spice-text) !important;
    --lyrics-color-inactive: rgba(var(--spice-rgb-text), 0.4) !important;
    --lyrics-color-passed: rgba(var(--spice-rgb-text), 0.4) !important;
    --lyrics-color-background: red !important;
}

// right sidebar lyrics fullscreen and close buttons
.Psc33HXPyazZYAAr1tgz {
    background: var(--spice-button-disabled) !important;
    border-radius: 10px !important;
    color: var(--spice-text) !important;
}

// right sidebar better spotify lyrics style
.main-nowPlayingView-lyricsContent .lyrics-lyricsContent-lyric.lyrics-lyricsContent-highlight {
    filter: blur(1.5px);
    padding: 7px;
}
.main-nowPlayingView-lyricsContent .lyrics-lyricsContent-lyric.lyrics-lyricsContent-active {
    filter: none;
    padding: 12px;
    font-size: 107%;
}
.main-nowPlayingView-lyricsContent .lyrics-lyricsContent-lyric {
    filter: blur(1.5px);
    padding: 7px;
}
.main-nowPlayingView-lyricsContent .lyrics-lyricsContent-lyric.lyrics-lyricsContent-unsynced {
    filter: none;
    padding: 5px;
}

// small lyrics container scrollbar (visible on hover)
.main-nowPlayingView-lyricsContent::-webkit-scrollbar {
    width: 8px;
}
.main-nowPlayingView-lyricsContent::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 10px;
    background-color: var(--spice-custom-main-secondary);
}

//////////////////////////////////////// Credits modal ////////////////////////////////////////

// credited artists
.main-nowPlayingView-creditsGroup .TypeElement-mesto-textSubdued-type {
    color: var(--spice-custom-subdued) !important;
}

//////////////////////////////////////// On tour ////////////////////////////////////////

.main-nowPlayingView-section.IgTMXVbZtqtZwu3GZASd {
    // show all
    button[class*="Button-textSubdued-sm-16-buttonTertiary-condensed"] {
        color: var(--spice-custom-subdued);
    }
    // on tour time and location
    .artist-artistOnTour-timeAndVenue.artist-artistOnTour-condensed {
        color: var(--spice-custom-subdued);
    }

    // on tour time and location container
    .uvIvZ4XqfEFs88BAPaI8:hover {
        border-radius: 10px;
        background-color: var(--spice-custom-main-secondary);
    }
}

//////////////////////////////////////// Queue ////////////////////////////////////////

.main-nowPlayingView-section.qbOrWcMUhSri1nPkZLQA {
    // open queue
    button[class*="Button-textSubdued-sm-16-buttonTertiary-condensed"] {
        color: var(--spice-custom-subdued);
    }

    // first song in queue container
    div:nth-child(2):hover {
        border-radius: 10px;
        background-color: var(--spice-custom-main-secondary);
    }
}
