@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
    font-family: "Quicksand", sans-serif !important;
}

/* ////////////////////////////////// No Ads ///////////////////////////////// */

/* Top Context menu upgrade button hide */
.main-contextMenu-menuItem a[href="https://www.spotify.com/premium/"]
{
    display: none !important;
}

/* Remove upgrade button near username */
.main-topBar-UpgradeButton {
    display: none !important;
}

/* Ad placeholder */
.main-leaderboardComponent-container,
.ReyA3uE3K7oEz7PTTnAn,
.X871RxPwx9V0MqpQdMom {
    display: none !important;
}

/* Home page ad section */
.desktoproutes-homepage-takeover-ad-hptoComponent-parentContainer {
    display: none !important;
}

/* Remove sponsor ads in playlists */
.sponsor-container {
    display: none !important;
}

/* Remove sponsored playlist in homepage */
.WiPggcPDzbwGxoxwLWFf,
.DHeG1dij5qSIc9nr0wDj,
.hx2D0g_ursHte5bm62U2 {
    display: none !important;
}

/* ////////////////////////////////////// Nord Theme //////////////////////////////////// */

/* //////////// SideBar //////////// */

/* hides sidebar scrollbar */
.os-scrollbar:nth-child(6) .os-scrollbar-handle {
    visibility: hidden;
}

/* remove gradient shadow in sidebar above playlist */
.main-rootlist-rootlistDividerGradient {
    display: none !important;
}

/* change divider color in sidebar */
.main-rootlist-rootlistDivider {
    background-color: var(--spice-nav-active);
}

/* //////////// playlist //////////// */

/* small cover image in playlist row */
.main-trackList-rowImage {
    border-radius: 7% !important;
}

/* Hide playlist gradient top */
.main-entityHeader-backgroundColor {
    display: none !important;
}

/* Hide playlist gradient down */
.main-actionBarBackground-background {
    display: none !important;
}

/* playlist big image shadow */
.main-entityHeader-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: 0 5px 10px rgba(var(--spice-rgb-shadow), 1) !important;
}

/* change playing icon color in playlist to theme color */
.main-trackList-playingIcon {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg id='playing-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 24'%3E%3Cdefs%3E%3Cstyle%3E %23playing-icon %7B fill: %2320BC54; %7D @keyframes play %7B 0%25 %7Btransform: scaleY(1);%7D 3.3%25 %7Btransform: scaleY(0.9583);%7D 6.6%25 %7Btransform: scaleY(0.9166);%7D 9.9%25 %7Btransform: scaleY(0.8333);%7D 13.3%25 %7Btransform: scaleY(0.7083);%7D 16.6%25 %7Btransform: scaleY(0.5416);%7D 19.9%25 %7Btransform: scaleY(0.4166);%7D 23.3%25 %7Btransform: scaleY(0.25);%7D 26.6%25 %7Btransform: scaleY(0.1666);%7D 29.9%25 %7Btransform: scaleY(0.125);%7D 33.3%25 %7Btransform: scaleY(0.125);%7D 36.6%25 %7Btransform: scaleY(0.1666);%7D 39.9%25 %7Btransform: scaleY(0.1666);%7D 43.3%25 %7Btransform: scaleY(0.2083);%7D 46.6%25 %7Btransform: scaleY(0.2916);%7D 49.9%25 %7Btransform: scaleY(0.375);%7D 53.3%25 %7Btransform: scaleY(0.5);%7D 56.6%25 %7Btransform: scaleY(0.5833);%7D 59.9%25 %7Btransform: scaleY(0.625);%7D 63.3%25 %7Btransform: scaleY(0.6666);%7D 66.6%25 %7Btransform: scaleY(0.6666);%7D 69.9%25 %7Btransform: scaleY(0.6666);%7D 73.3%25 %7Btransform: scaleY(0.6666);%7D 76.6%25 %7Btransform: scaleY(0.7083);%7D 79.9%25 %7Btransform: scaleY(0.75);%7D 83.3%25 %7Btransform: scaleY(0.8333);%7D 86.6%25 %7Btransform: scaleY(0.875);%7D 89.9%25 %7Btransform: scaleY(0.9166);%7D 93.3%25 %7Btransform: scaleY(0.9583);%7D 96.6%25 %7Btransform: scaleY(1);%7D %7D %23bar1 %7B transform-origin: bottom; animation: play 0.9s -0.51s infinite; %7D %23bar2 %7B transform-origin: bottom; animation: play 0.9s infinite; %7D %23bar3 %7B transform-origin: bottom; animation: play 0.9s -0.15s infinite; %7D %23bar4 %7B transform-origin: bottom; animation: play 0.9s -0.75s infinite; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Eplaying-icon%3C/title%3E%3Crect id='bar1' class='cls-1' width='4' height='24'/%3E%3Crect id='bar2' class='cls-1' x='6' width='4' height='24'/%3E%3Crect id='bar3' class='cls-1' x='12' width='4' height='24'/%3E%3Crect id='bar4' class='cls-1' x='18' width='4' height='24'/%3E%3C/svg%3E");
    background: var(--spice-button);
    content-visibility: hidden;
    -webkit-mask-repeat: no-repeat;
}

/* change background color of selected row */
.main-trackList-trackListRow.main-trackList-selected,
.main-trackList-trackListRow.main-trackList-selected:hover {
    background-color: rgba(var(--spice-rgb-main-secondary), 0.6) !important;
}
.main-trackList-trackListRow:focus-within,
.main-trackList-trackListRow:hover {
    background-color: rgba(var(--spice-rgb-main-secondary), 0.4);
}

/* When song is currently playing */
.main-trackList-active .main-type-mesto,
.main-trackList-active .main-trackList-rowSubTitle,
.main-trackList-active .main-trackList-rowSubTitle a,
.main-trackList-active .main-trackList-rowMarker,
.main-trackList-active .main-trackList-rowSectionVariable,
.main-trackList-active .main-trackList-rowSectionVariable a,
.main-trackList-active .main-trackList-rowSectionVariable span,
.main-trackList-active .main-trackList-rowMarker,
.main-trackList-active .main-trackList-rowDuration {
    color: var(--text-subdued, #6a6a6a) !important;
}

/* artist name color change in all playlist */
.main-trackList-rowSubTitle a[href],
.main-trackList-rowSubTitle,
.main-trackList-rowSectionVariable a[href],
.main-trackList-rowSectionVariable .ebHsEf {
    color: var(--text-subdued, #6a6a6a) !important;
}

/* local songs album name color change in playlist */
.jsV182e49Puwz9SIYt2J {
    color: var(--text-subdued, #6a6a6a) !important;
}

/* change appearance of public/private playlist tag on top of playlist */
.main-entityHeader-subtitle.main-entityHeader-small.main-entityHeader-uppercase.main-entityHeader-bold {
    border: 2px var(--spice-text) solid;
    border-radius: 3px;
    width: fit-content;
    display: inline;
    text-align: center;
    padding: 3px 7px;
}

/* title text area background color for editing playlist details */
.main-playlistEditDetailsModal-titleInput {
    background: rgba(var(--spice-rgb-main-secondary), 0.3) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

/* description text area background color for editing playlist details */
.main-playlistEditDetailsModal-descriptionTextarea {
    background: rgba(var(--spice-rgb-main-secondary), 0.3) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

/* hide card label in editing playlist details */
.main-playlistEditDetailsModal-textElementLabel {
    display: none;
}

/* save button color in editing playlist details */
.ButtonInner-sc-14ud5tc-0.fXheAs.encore-inverted-light-set {
    --background-base: var(--spice-button);
    --background-highlight: var(--spice-button);
    border-radius: 20px !important;
}

/* Profile photo hover edit button */
.main-editImageButton-overlay {
    border-radius: 10px;
}

/* //////////// Root //////////// */

/* change search bar appearance */
input {
    background: var(--spice-main-soft-secondary) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

/* search bar - search icon */
.mOLTJ2mxkzHJj6Y9_na_ {
    color: var(--spice-text) !important;
}

/* notification */
.main-userWidget-notificationIndicator {
    display: none !important;
}
.main-userWidget-box {
    color: var(--spice-subtext);
    background-color: transparent !important;
}
.main-userWidget-chevron {
    display: none;
}

/* remove gradient color on home screen */
.HsbczDqu9qjcYr7EIdHR,
.main-home-homeHeader {
    display: none !important;
}

/* change scrollbar appearance */
.os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    border-radius: 4px;
    width: 6px;
    background-color: var(--spice-button-disabled);
}
.os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track {
    width: 6px;
}

/* all images */
.main-image-image {
    border-radius: 5%;
}

/* small profile photo on top right of the home screen */
.Xz3tlahv16UpqKBW5HdK,
.main-avatar-image {
    border-radius: 50%;
}

/* fixed button hover color */
.encore-dark-theme .encore-bright-accent-set {
    --background-highlight: var(--spice-button);
}

/* home page most played playlist bg color */
.view-homeShortcutsGrid-shortcut {
    background-color: rgba(var(--spice-rgb-main-secondary), 0.5) !important;
}
.view-homeShortcutsGrid-shortcut:focus-within,
.view-homeShortcutsGrid-shortcut:hover,
.view-homeShortcutsGrid-shortcut[data-context-menu-open="true"] {
    background-color: rgba(var(--spice-rgb-main-secondary), 1) !important;
}

/* If no profile pic the element will not be circle */
.main-entityHeader-circle {
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* home page each chart topic title height */
.main-shelf-titleWrapper h2 {
    line-height: 1.2em;
}

/* Top extra padding above greeting */
.main-home-content {
    padding-top: 0px;
}

/* Home page top six playlist border radius */
.view-homeShortcutsGrid-image {
    border-radius: 0px !important;
}

a {
    text-decoration: none !important;
}

/* fix heart color on click */
#_R_G *:not([fill="none"]) {
    color: var(--spice-button-active);
    fill: var(--spice-button-active);
}
#_R_G *:not([stroke="none"]) {
    stroke: var(--spice-button-active);
}

/* button pressed color fix */
.encore-dark-theme .encore-bright-accent-set {
    --background-base: var(--spice-button);
    --background-highlight: var(--spice-button-active);
    --background-press: var(--spice-button);
}

/* //////////// Top bar //////////// */

/* remove top bar extension round container */
.main-topBar-historyButtons .main-topBar-button {
    background-color: unset;
}

/* change top bar color */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}

/* //////////// Player //////////// */

/* player cover image */
/* .cover-art-image {
    border-radius: 10px;
} */

/* fixed liked button hover color */
.main-addButton-active:focus,
.main-addButton-active:hover {
    color: var(--spice-button);
}

/* cover art when not collapsed */
.cover-art.shadow.cover-art--with-auto-height > div > img {
    border-radius: 10px !important;
}

/* change progress bar color (how much filled) and smooth transition */
.epWhU7hHGktzlO_dop6z {
    background-color: var(--spice-button) !important;
    transition: transform, 0s, ease, 0.25s;
}

/* change progress bar color (how much remaining) */
.w699O0LgQRghXyl3bs9u {
    background-color: var(--spice-main-secondary) !important;
}

/* progress bar round ball made cursors pointer and smooth transition */
.progress-bar__slider {
    cursor: pointer !important;
    transition: left, 0s, ease, 0.25s;
}

/* moves progress bar to top */
.playback-bar {
    width: 100%;
    bottom: 83px;
    position: absolute;
    cursor: pointer;
}

/* hides info about other devices on player */
.main-connectBar-connectBar {
    display: none !important;
}
.control-button::after {
    display: none !important;
}

/* hide and move progress time location right */
.playback-bar__progress-time-elapsed,
.main-playbackBarRemainingTime-container {
    opacity: 0;
    position: absolute;
    bottom: 13px;
    color: var(--spice-text);
    background-color: var(--spice-main);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    text-align: center;
}

/* moves start time left */
.playback-bar__progress-time-elapsed {
    left: 0;
}
/* moves end time right */
.main-playbackBarRemainingTime-container {
    right: 0;
}

/* show time lapse on hover */
.playback-bar:hover .playback-bar__progress-time-elapsed,
.playback-bar:hover .main-playbackBarRemainingTime-container {
    opacity: 1;
}

/* change appearance of play-button */
.main-playPauseButton-button {
    color: inherit;
    background-color: transparent;
}
.main-playPauseButton-button svg {
    height: 19px;
    width: 19px;
    transform: scale(1.5);
}

/* if no player, pause button disabled background color made transparent */
.main-playPauseButton-button[disabled] {
    background-color: var(--spice-main);
}

/* player cover art to right with animation */
.main-nowPlayingWidget-nowPlaying > .ellipsis-one-line,
.main-trackInfo-container {
    margin-left: 74px;
}
/* static cover */
.main-coverSlotExpanded-container {
    position: fixed;
    top: calc(100% - 305px);
    left: calc(100% - 220px);
    width: 200px;
    height: 200px;
    visibility: hidden;
    transform-origin: center;
    animation: 1s coverExpandedIn;
    animation-fill-mode: forwards;
    box-shadow: 0 5px 10px rgba(var(--spice-rgb-shadow), 1) !important;
}
/* dynamic cover */
.main-coverSlotCollapsed-container[aria-hidden="true"] {
    left: calc(100vw - 164px);
    top: -240px;
    width: 200px;
    height: 200px;
    visibility: hidden;
    animation: 1s coverExpandedOut;
}
.Q4cc5RktWgz2H8_vDrIS {
    display: none;
}
@keyframes coverExpandedIn {
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes coverExpandedOut {
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
.main-coverSlotCollapsed-container {
    position: fixed;
    top: -12px;
    left: 0px;
    width: 56px;
    height: 56px;
    visibility: visible;
    z-index: 1;
}
.cover-art .cover-art-image,
.main-coverSlotCollapsed-container {
    transform-origin: center;
    transition-timing-function: ease-in;
    box-shadow: 0 5px 10px rgba(var(--spice-rgb-shadow), 1) !important;
    transition: width 0.5s 0.2s, height 0.5s 0.2s, top 0.3s, left 0.5s, box-shadow 1s;
}
.main-coverSlotCollapsed-container[aria-hidden="false"] {
    transition-timing-function: ease-out !important;
    box-shadow: 0 5px 10px rgba(var(--spice-rgb-shadow), 1) !important;
    transition: width 0.5s 0.2s, height 0.5s 0.2s, top 0.5s 0.1s, left 0.3s, box-shadow 1s !important;
}
.main-coverSlotCollapsed-container[aria-hidden="true"] .cover-art .cover-art-image,
.main-nowPlayingWidget-coverExpanded .main-coverSlotCollapsed-container .cover-art .cover-art-image {
    width: 200px;
    height: 200px;
}
.main-nowPlayingBar-left {
    z-index: 2;
}
.main-nowPlayingBar-center {
    z-index: 1;
}
.cover-art.shadow {
    box-shadow: 0 5px 10px rgba(var(--spice-rgb-shadow), 1) !important;
    border-radius: 10px !important;
}

/* //////////// Cards //////////// */

/* all card view changed, now has a thick border */
.main-card-card:hover,
.main-card-card[data-context-menu-open="true"] {
    background-color: rgba(var(--spice-rgb-main-secondary), 1) !important;
}
.main-card-card {
    background-color: rgba(var(--spice-rgb-main-secondary), 0.5) !important;
}
.main-card-card {
    transition: none;
}

/* local files folder in library */
.main-entityHeader-imagePlaceholder,
.tlNAdRNP5lIeiD85nMcL,
.main-cardImage-imageWrapper {
    border-radius: 10px;
}

/* //////////// Market Place //////////// */

/* fix market place buttons */
#playlist-phrase-submit,
#marketplace-reload-okay,
#marketplace-reload-cancel {
    background-color: var(--spice-main);
    padding: 10px;
    border: none;
    border-radius: 10%;
}

/* //////////// Pointer Change //////////// */
button,
.show-followButton-button,
.main-dropDown-dropDown,
.x-toggle-wrapper,
.main-playlistEditDetailsModal-closeBtn,
.main-trackList-rowPlayPauseButton,
.main-rootlist-rootlistItemLink:link,
.main-rootlist-rootlistItemLink:visited,
.x-sortBox-sortDropdown,
.main-contextMenu-menuItemButton,
.main-trackList-column,
.main-moreButton-button,
.x-downloadButton-button,
.main-playButton-PlayButton,
.main-coverSlotExpandedCollapseButton-chevron,
.main-coverSlotCollapsed-chevron,
.control-button:focus,
.control-button:hover,
.main-repeatButton-button,
.main-skipForwardButton-button,
.main-playPauseButton-button,
.main-skipBackButton-button,
.main-shuffleButton-button,
.main-addButton-button,
.progress-bar__slider,
.main-editImageButton-image,
.X1lXSiVj0pzhQCUo_72A  /* collaborate button in playlist */ {
    cursor: pointer !important;
}

/* //////////// quick search //////////// */

/* quick search - text color */
.v2oO4ItuH_0zk3OFj5dh {
    color: var(--spice-text) !important;
}

/* quick search - input box */
.kQ22nY00NOOrZjfmRP5J {
    background: var(--spice-main-soft-secondary) !important;
}

/* quick search - search icon */
.HN_3fmk5t15DGlzDbx1_ {
    color: var(--spice-text) !important;
}

/* radio gradient hidden */
.KNUIWLKuuA1qIkTt4jus {
    background: none !important;
}

/* //////////// lyrics page //////////// */

/* better spotify lyrics style  */
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-highlight {
    filter: blur(1.5px);
    padding: 15px;
    font-size: 110%;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-active {
    filter: none;
    padding: 20px;
    font-size: 130%;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric {
    filter: blur(1.5px);
    padding: 15px;
    font-size: 110%;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-unsynced {
    filter: none;
    padding: 10px;
    font-size: 100%;
}

/* lyrics plus compact off style */
.lyrics-lyricsContainer-LyricsContainer .lyrics-lyricsContainer-LyricsLine.lyrics-lyricsContainer-LyricsLine-active {
    /* filter: blur(1.5px); */
    padding: 15px;
    /* font-size: 200%; */
}
/* .lyrics-lyricsContainer-LyricsContainer .lyrics-lyricsContainer-LyricsLine.lyrics-lyricsContainer-LyricsLine-highlight {
    filter: none;
    color: red !important;
    padding: 12px;
    font-size: 250%;
} */
.lyrics-lyricsContainer-LyricsContainer .lyrics-lyricsContainer-LyricsLine {
    /* filter: blur(1.5px); */
    padding: 15px;
    /* font-size: 200%; */
}

/* lyrics plus extra margin top */
.lyrics-lyricsContainer-LyricsContainer {
    margin-top: -63px;
}

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* section[data-testid="home-page"] .main-shelf-shelf:not([aria-label="Recently played"], [aria-label="Your playlists"]) {
    display: none !important;
}

.collection-collectionEntityHeroCard-tracksContainer {
    display: none;
} */
