/* //////////// SideBar //////////// */

/* sidebar liked songs icon color */
.main-likedSongsButton-likedSongsIcon {
    color: var(--spice-sidebar);
}

/* sidebar your episodes icon color inside */
.main-yourEpisodesButton-yourEpisodesIcon path {
    fill: var(--spice-sidebar);
}

/* //////////// Root //////////// */

/* username on top right corner customization */
.main-userWidget-box {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 22px;
    padding-bottom: 22px;
}

/* small profile photo on top right corner */
.main-userWidget-box .main-avatar-image {
    border-radius: 6px;
}

/* //////////// Top bar //////////// */

/* search bar in search page */
.x-searchInput-searchInputInput {
    background-color: var(--spice-custom-main-soft-secondary) !important;
}

.main-noConnection-button {
    background-color: var(--spice-custom-main-soft-secondary);
}

/* //////////// Player //////////// */

/* player height */
.main-nowPlayingBar-nowPlayingBar {
    height: 70px;
}

/* progress bar ball (visible when hovered) */
.progress-bar__slider {
    width: 15px !important;
    height: 15px !important;
    top: 3.5px;
    transition: left, 0s, ease, 0.25s;
}

/* Old UI better progress bar */
/* moves progress bar to top */
.playback-bar {
    border-radius: 0px !important;
    bottom: 69px;
    width: 100%;
    position: absolute;
}

/* progress bar time style */
.playback-bar__progress-time-elapsed,
.main-playbackBarRemainingTime-container {
    position: absolute;
    bottom: -64px;
    right: 0px;
}
.playback-bar__progress-time-elapsed {
    transform: translateX(calc(-100% - 20px));
}
.playback-bar__progress-time-elapsed::after {
    position: absolute;
    left: calc(100% + 10px);
    font-weight: bold;
    color: rgba(var(--spice-rgb-custom-subdued), 0.8);
    content: "/";
    transform: translateX(-50%);
}

/* //////////// Friend Activity //////////// */

/* friend activity bar left side shadow */
.main-buddyFeed-buddyFeed {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
