// seearch page genre card background - hash-class
.x-categoryCard-CategoryCard {
    background-color: var(--spice-custom-main-soft-secondary) !important;
    padding-bottom: 30px;
    transition: transform, 0s, ease, 0.25s;
}
.x-categoryCard-CategoryCard:hover {
    background-color: var(--spice-custom-main-secondary) !important;
    transition: transform, 0s, ease, 0.25s;
}
// search page genre images
.x-categoryCard-image {
    border-radius: 10px;
}
