// better spotify lyrics style
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-highlight {
    filter: blur(1.5px);
    padding: 15px;
    font-size: 110%;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-active {
    filter: none;
    padding: 20px;
    font-size: 140%;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric {
    filter: blur(1.5px);
    padding: 15px;
    font-size: 110%;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-unsynced {
    filter: none;
    padding: 10px;
    font-size: 100%;
}

// spotify lyrics background norded
.lyrics-lyrics-container {
    --lyrics-color-active: var(--spice-text) !important;
    --lyrics-color-inactive: rgba(var(--spice-rgb-text), 0.7) !important;
    --lyrics-color-passed: rgba(var(--spice-rgb-text), 0.7) !important;
    --lyrics-color-background: none !important;
    --lyrics-color-messaging: var(--spice-text) !important;
}
