:root {
    --spice-button-disabled: #33424a;
    --spice-button: #687791;
    --spice-button-active: #879abc;
    --spice-main: #1d2428;
    --spice-card: #1d2428;
    --spice-player: #1d2428;
    --spice-notification: #242d35;
    --spice-notification-error: #a9555e;
    --spice-playback-bar: #dedede;
    --spice-shadow: #1d2128;
    --spice-sidebar: #181e24;
    --spice-tab-active: #242d35;
    --spice-text: #8a9cbc;
    --spice-subtext: #8a9cbc;
    --spice-misc: #dedede;
    --spice-selected-row: #dedede;
    --spice-custom-selected-button: #33424a;
    --spice-custom-main-secondary: #2b363e;
    --spice-custom-main-soft-secondary: #242d35;
    --spice-custom-highlight: #34414b;
    --spice-custom-link-hover: #95b5f0;
    --spice-custom-subdued: #7084a1;
    --spice-custom-success: #76ba99;

    --spice-rgb-button-disabled: 51, 66, 74;
    --spice-rgb-button: 104, 119, 145;
    --spice-rgb-button-active: 135, 154, 188;
    --spice-rgb-main: 29, 36, 40;
    --spice-rgb-card: 29, 36, 40;
    --spice-rgb-player: 29, 36, 40;
    --spice-rgb-notification: 36, 45, 53;
    --spice-rgb-notification-error: 169, 85, 94;
    --spice-rgb-playback-bar: 222, 222, 222;
    --spice-rgb-shadow: 29, 33, 40;
    --spice-rgb-sidebar: 24, 30, 36;
    --spice-rgb-tab-active: 36, 45, 53;
    --spice-rgb-text: 138, 156, 188;
    --spice-rgb-subtext: 138, 156, 188;
    --spice-rgb-misc: 222, 222, 222;
    --spice-rgb-selected-row: 222, 222, 222;
    --spice-rgb-custom-selected-button: 51, 66, 74;
    --spice-rgb-custom-main-secondary: 43, 54, 62;
    --spice-rgb-custom-main-soft-secondary: 36, 45, 53;
    --spice-rgb-custom-highlight: 52, 65, 75;
    --spice-rgb-custom-link-hover: 149, 181, 240;
    --spice-rgb-custom-subdued: 112, 132, 161;
    --spice-rgb-custom-success: 118, 186, 153;
}
