:root {
    --spice-button-disabled: #434c5e;
    --spice-button: #8a99af;
    --spice-button-active: #718cad;
    --spice-main: #2e3440;
    --spice-card: #2e3440;
    --spice-player: #2e3440;
    --spice-notification: #363d4c;
    --spice-notification-error: #a9555e;
    --spice-playback-bar: #dedede;
    --spice-shadow: #1d2128;
    --spice-sidebar: #262b35;
    --spice-tab-active: #363d4c;
    --spice-text: #b2bccc;
    --spice-subtext: #b2bccc;
    --spice-misc: #dedede;
    --spice-selected-row: #dedede;
    --spice-custom-selected-button: #4c566a;
    --spice-custom-main-secondary: #3b4354;
    --spice-custom-main-soft-secondary: #363d4c;
    --spice-custom-highlight: #454e61;
    --spice-custom-link-hover: #5687c5;
    --spice-custom-subdued: #8a99af;
    --spice-custom-success: #76ba99;

    --spice-rgb-button-disabled: 67, 76, 94;
    --spice-rgb-button: 138, 153, 175;
    --spice-rgb-button-active: 113, 140, 173;
    --spice-rgb-main: 46, 52, 64;
    --spice-rgb-card: 46, 52, 64;
    --spice-rgb-player: 46, 52, 64;
    --spice-rgb-notification: 54, 61, 76;
    --spice-rgb-notification-error: 169, 85, 94;
    --spice-rgb-playback-bar: 222, 222, 222;
    --spice-rgb-shadow: 29, 33, 40;
    --spice-rgb-sidebar: 38, 43, 53;
    --spice-rgb-tab-active: 54, 61, 76;
    --spice-rgb-text: 178, 188, 204;
    --spice-rgb-subtext: 178, 188, 204;
    --spice-rgb-misc: 222, 222, 222;
    --spice-rgb-selected-row: 222, 222, 222;
    --spice-rgb-custom-selected-button: 76, 86, 106;
    --spice-rgb-custom-main-secondary: 59, 67, 84;
    --spice-rgb-custom-main-soft-secondary: 54, 61, 76;
    --spice-rgb-custom-highlight: 69, 78, 97;
    --spice-rgb-custom-link-hover: 86, 135, 197;
    --spice-rgb-custom-subdued: 138, 153, 175;
    --spice-rgb-custom-success: 118, 186, 153;
}
