// rounded friend activity
.nav-alt .main-buddyFeed-buddyFeedRoot {
    border-radius: 10px !important;
}

// Find friends container
.SQHCRmgNjRywo1Lt7rP3 {
    background-color: var(--spice-main);
    height: 69px;
}

// friend activity close button
.main-buddyFeed-findFriendsButton {
    background-color: var(--spice-custom-main-soft-secondary);
    border-radius: 10px;
}
.main-buddyFeed-findFriendsButton:hover {
    background-color: var(--spice-custom-main-secondary) !important;
    border-radius: 10px;
}

// no friends settings button
.MObmOrMxbQpO10ebAtZA .ralK8s_OmE8a8zWcfNKM:hover,
.MObmOrMxbQpO10ebAtZA .ralK8s_OmE8a8zWcfNKM {
    border-radius: 10px;
    background-color: var(--spice-custom-main-soft-secondary);
    color: var(--spice-text);
}

// connect to facebook
.HgRmCE3NxfiYNtv6pF3H:hover,
.HgRmCE3NxfiYNtv6pF3H {
    border: none;
    border-radius: 10px !important;
    background-color: var(--spice-custom-main-soft-secondary) !important;
    color: var(--spice-text);
    height: 40px;
    padding: 10px;
}
