// top bar buttons
.main-topBar-historyButtons {
    padding-left: 10px;
}

.main-noConnection-button {
    background-color: rgba(var(--spice-rgb-custom-main-soft-secondary), 0.7) !important;
}

// top bar table heading background
.nav-alt .main-trackList-trackListHeaderStuck.main-trackList-trackListHeader,
.main-trackList-trackListHeader {
    background: var(--spice-main);
}

//////////////////////////////////////// Top bar buttons ////////////////////////////////////////

// small profile photo on top right corner
.main-userWidget-box .main-avatar-image {
    border-radius: 10px;
}
